* {
  --background-color: #243054;
  --secondary-color: #ffca1f;
  --third-color: #ffffff;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: var(--secondary-color);

  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
}

h1 {
  margin: auto;
  margin-bottom: 0;

  font-size: 2rem;
}

#content {
  margin: auto;
  margin-top: 1rem;
  width: 400px;
  background-color: var(--third-color);
  color: #000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2.3rem;

  padding: 25px;

  border-radius: 10px;
}

.input-div {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  gap: 1rem;
}

#text-input {
  width: 50%;
  height: 2rem;

  border-bottom: 3px solid var(--secondary-color);
}

#check-btn {
  width: 25%;
  height: 2.5rem;

  background-color: var(--secondary-color);
}

.bold {
  font-weight: 800;
  font-size: 1.3rem;
}